{% extends "layout.html" %}
{% block title %}Berita{% endblock %}
{% block content %}
<main role="main" class="container">
<div class="row mt-5">
    <div class="col-lg-5">
        <h5><a href="#"class="badge badge-secondary">Kota Mataram</a></h5>
    </div>
    <div class="col-lg-7">
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Bagus. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-success">Positive</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Rusak. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-danger">Negative</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-5">
        <h5><a href="#"class="badge badge-secondary">Kota Bima</a></h5>
    </div>
    <div class="col-lg-7">
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Bagus. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-success">Positive</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Rusak. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-danger">Negative</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-5">
        <h5><a href="#"class="badge badge-secondary" style="word-wrap: break-word;">Dinas Pendidikan dan Kebudayaan Prov.NTB</a></h5>
    </div>
    <div class="col-lg-7">
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Bagus. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-success">Positive</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Rusak. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-danger">Negative</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-5">
        <h5><a href="#"class="badge badge-secondary" style="word-wrap: break-word;">Dinas Perumahan dan Pemukiman Prov.NTB</a></h5>
    </div>
    <div class="col-lg-7">
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Bagus. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-success">Positive</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Rusak. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-danger">Negative</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-5">
        <h5><a href="#"class="badge badge-secondary" style="word-wrap: break-word;">Dinas Kelautan dan Perikanan Prov.NTB</a></h5>
    </div>
    <div class="col-lg-7">
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Bagus. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-success">Positive</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Rusak. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-danger">Negative</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-5">
        <h5><a href="#"class="badge badge-secondary" style="word-wrap: break-word;">Dinas Kesehatan Prov.NTB</a></h5>
    </div>
    <div class="col-lg-7">
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Bagus. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-success">Positive</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Rusak. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-danger">Negative</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-5">
        <h5><a href="#"class="badge badge-secondary" style="word-wrap: break-word;">Dinas Koperasi Usaha Kecil Dan Menengah Prov.NTB</a></h5>
    </div>
    <div class="col-lg-7">
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Bagus. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-success">Positive</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Rusak. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-danger">Negative</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-5">
        <h5><a href="#"class="badge badge-secondary" style="word-wrap: break-word;">Dinas Pekerjaan Umum dan Tata Ruang Prov.NTB</a></h5>
    </div>
    <div class="col-lg-7">
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Bagus. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-success">Positive</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Rusak. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-danger">Negative</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-5">
        <h5><a href="#"class="badge badge-secondary" style="word-wrap: break-word;">Dinas Pekerjaan Umum dan Tata Ruang Prov.NTB</a></h5>
    </div>
    <div class="col-lg-7">
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Bagus. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-success">Positive</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Rusak. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-danger">Negative</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-5 text-nowrap">
        <h5><a href="#" class="badge badge-secondary text-nowrap">Dinas Pemberdayaan Masyarakat, Pemdes, Kependudukan dan Pencatatan Sipil Prov.NTB</a></h5>
    </div>
    <div class="col-lg-7">
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Bagus. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-success">Positive</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
        <div class="news">
            <h4 class="float-left"><li><a href="">Kota Mataram Rusak. Ini Adalah Contoh Headline</a></li></h4>
            <small class="float-right badge badge-danger">Negative</small>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore doloremque eius eligendi esse excepturi laborum molestiae molestias nihil nostrum odit officiis, optio perferendis quidem rem rerum sint unde velit.</small>
            <br>
            <br>
        </div>
    </div>
</div>
</main>
{% endblock %}
